
body{
   
    
 }
 .bg-image{
    height:100%;
  background-image:url(hs.jpg);
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;    
  filter:brightness(0.5) blur(5px);
  
  
 }
 .content{
    position:absolute;
    transform:translate(0%,-155%);
    margin-top: 0%;
 }
  

 